body {
    font-family: Arial, sans-serif;
    background-image: url('images/magicpattern-wave-generator-1718778646222.svg');
    background-size:contain;
}



.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 20px;
    transition: color 0.2s ease, transform 0.2s ease;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #000000;
    transform: scale(1.1);
}

.d-flex .nav-link {
    font-size: 1.2rem;
    margin-left: 15px;
    text-decoration: none;
}

.d-flex img {
    width: 30px;
    margin-right: 15px;
}

button:hover,
.btn-primary:hover,
.btn-secondary:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.container-fluid h1 {
    font-size: 3rem;
}

.container-fluid {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.col-md-4 {
    margin-bottom: 30px;
}

.col-md-4 h3 {
    font-size: 1.5rem;
}

.col-md-4 p {
    font-size: 1.1rem;
}

/* Add styles for color palette and testing area */
.color-palette {
    margin-bottom: 20px;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Keskitä vaakasuunnassa */
    gap: 10px;
    /* Väli napin ja toisen välillä */
    width: 75%;
    /* Dynaaminen leveys */
    margin: 0 auto;
    /* Keskittää vaakasuunnassa */
    margin-bottom: 25px;
    /* Alareunaan marginaali */
}


.color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease;

}

.color:hover {
    transform: scale(1.1);
}

.color-testing {
    margin-top: 20px;
    text-align: center;

}

.test-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.btn-secondary {
    margin: 15px;
    margin-bottom: 25px;

}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.mt-5 {
    background-color: rgb(250, 251, 255);
    border-radius: 10px;
    padding: 2.5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
    background-image: url('images/magicpattern-polka-dot-pattern-1718778258230.png');
    background-size: auto;
}

.mt-6 {
    background-color: rgb(250, 251, 255);
    border-radius: 10px;
    padding: 2.5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
    background-image: url('images/magicpattern-polka-dot-pattern-1718778258230.png');
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: column;
    min-height: 50vh;
    /* Ensure full viewport height */
}

/* Kuvien koon määrittely */
.gallery-image {
    width: 100%;
    height: 300px;
    /* Määritä korkeus, jota haluat käyttää */
    object-fit: cover;
    border-radius: 10px;
    /* Pidä olemassa oleva border-radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* Pidä olemassa oleva varjostus */
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#modalImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#modalImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#modalImage:hover {
    transform: scale(1.00);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-section {
    position: relative;
    /* Tarvitaan absoluuttiselle overlay-elementille */
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #ffffff;
}

.hero-section2 {
    position: relative;
    /* Tarvitaan absoluuttiselle overlay-elementille */
    padding: 70px 0;
    ;
    color: #000000;
    text-align: center;
}

/* Lisäämme overlayn */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(142, 134, 134, 0.5);
    z-index: 1;
    /* Asetetaan z-indeksi pienemmäksi kuin tekstille */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.hero-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    /* Tarvitaan korostetulle tekstile */
    z-index: 2;
    /* Asetetaan z-indeksi suuremmaksi kuin overlayn */
}

.hero-section h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    /* Samoin tässä */
    z-index: 2;
}

.hero-section .btn-primary {
    font-size: 1.25rem;
    padding: 12px 36px;
    position: relative;
    /* Ja tässä */
    z-index: 2;
}

.testimonial {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.testimonial .quote-icon {
    font-size: 24px;
    color: #343a40;
}

.testimonial .testimonial-text {
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.testimonial .customer-name {
    font-weight: 600;
    font-size: 1.5rem;
}

form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 8px;
    border-color: #ced4da;
    /* Adjust as needed */
}

.btn-primary {
    padding: 12px 36px;
    font-size: 1.25rem;
    border-radius: 8px;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}

.accordion-button:hover {
    transform: scale(1.00);
}

/* Latausympyrä */
.loading-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 105, 105, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #0077ff;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Tyylit modaalin värialueille */
.modal-test-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: #fff;
    /* Varmistaa, että teksti on valkoinen */
}

.color-info {
    position: absolute;
    text-align: center;
    color: #fff;
    /* Varmistaa, että teksti on valkoinen */
    font-size: 1.2rem;
    font-weight: bold;
}

.tooltip {
    opacity: 1;
    /* Varmistaa, että tooltip on näkyvissä */
    display: block;
    /* Varmistaa, että tooltip on näkyvissä */
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Leveys 100% */
    max-width: 1100px;
    /* Maksimileveys */
    margin: 0 auto;
    /* Keskittää vaakasuunnassa */
    text-align: center;
    /* Tekstin keskitys */
}
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Initially hidden */
    z-index: 999;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#backToTop:hover {
    background-color: #0056b3;
}
